# Core functionality - changes here should be rare!
/src/app.py                   @samjohnreid-premier
/src/backend/database.py      @samjohnreid-premier
/src/backend/routers/auth.py  @samjohnreid-premier

# The frontend will need refactored soon to be more object oriented.
/src/static/   @samjohnreid-premier
